/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    padding-top: 80px; /* Spacing for fixed navbar */
}

.navbar {
    background-color: #00B4D8;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-brand {
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.navbar-nav li a {
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.navbar-nav li a:hover {
    color: #90e0ef;
}

/* Main Heading */
.main-heading {
    font-weight: 700;
    font-size: 3rem;
    color: #023e8a;
    margin-bottom: 1.5rem;
    text-align: center;
}

#nama {
    color: #0096c7;
}

/* Sections */
.section {
    margin: 50px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.section h2 {
    font-size: 2rem;
    color: #023e8a;
    margin-bottom: 20px;
    text-align: center;
}

/* Education and Job */
.education-item, .job-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education-item h3, .job-item p {
    margin-bottom: 10px;
}

hr {
    border: 1px solid #ddd;
    margin: 40px 0;
}

/* Skills */
.skill-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skill-item img {
    max-width: 100px;
    margin-bottom: 10px;
}

.skill-item p {
    margin-bottom: 10px;
}

/* Contact */
.contact-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-item img {
    max-width: 100px;
    margin-bottom: 10px;
}

footer {
    background-color: #023e8a;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin-top: 50px;
}
